{
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "useTabs": false,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-classnames"
  ],
  "customAttributes": [
    "className"
  ],
  "customFunctions": [
    "classNames"
  ]
}